

<div class="layui-form" lay-filter="layuiadmin-form-qrpreview" style="padding: 20px 0 0 0;">
	
  <div class="layui-form-item">
    <label class="layui-form-label">二维码</label>
    <div class="layui-input-inline">
      <script type="text/html" template>
		<img class="layadmin-homepage-pad-img" src="{{d.params.src}}" width="192" height="192">
      </script>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">活动名称</label>
    <div class="layui-input-inline">
      <script type="text/html" template>
        <input type="text" name="name" value="{{ d.params.name || '' }}" lay-verify="required" placeholder="请输入公众号" autocomplete="off" class="layui-input">
      </script>
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label"></label>
    <div class="layui-input-inline">
      <input type="button" lay-submit lay-filter="LAY-qr-download" value="下载" class="layui-btn">
    </div>
  </div>
</div>

<script>
layui.use(['admin', 'form', 'upload','laydate'], function(){
  var $ = layui.$
  ,laydate=layui.laydate
  ,form = layui.form
  ,upload = layui.upload;
  laydate.render({
  	  elem:'#starttime',
  	  type:'datetime',
  	  value:new Date()
  });
  laydate.render({
  	  elem:'#endtime',
  	  type:'datetime',
  	  value:new Date()
  });
  
  
  //上传头像
  upload.render({
    elem: '#layuiadmin-upload-useradmin'
    ,url: './json/upload/demo.js'
    ,accept: 'images'
    ,method: 'get'
    ,acceptMime: 'image/*'
    ,done: function(res){
      $(this.item).prev("div").children("input").val(res.data.src)
    }
  });
});
</script>